# Visual Studio / MSVC Build Artifacts & Caches
.vs/
x64/
[Dd]ebug/
[Rr]elease/
GaltonBoard/x64/
GaltonBoard/[Dd]ebug/
GaltonBoard/[Rr]elease/

*.obj
*.o
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.log
*.recipe
*.iobj
*.ipdb
*.sdf
*.opensdf
*.suo
*.user
*.vcxproj.user

*~
*.tmp
*.bak

External/SFML/lib/Debug/*.pdb
External/SFML/lib/Release/*.pdb

# Whitelist
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.cpp
!*.h
!*.hpp
!*.inl
!*.csv
!*.xlsx
!*.txt
!*.ico